! global font rendering
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.antialias: 1
Xft.rgba: rgb

! xterm specific
UXTerm.termName: xterm-256color
UXTerm.vt100.saveLines: 100000
UXTerm.vt100.metaSendsEscape: true
!UXTerm.vt100.scrollBar: true
UXTerm.vt100.rightScrollBar: true
UXTerm.vt100.scrollKey: true
UXTerm.vt100.scrollTtyOutput: false
!UXTerm.vt100.visualBell: true
!UXTerm.vt100.reverseVideo: true
UXTerm.vt100.translations: #override \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

! font config
UXTerm.vt100.faceName: Monospace
UXTerm.vt100.faceSize: 10
UXTerm.vt100.renderFont: true

! #include ".Xresources.solarized-dark"
#include ".Xresources.solarized-light"
