$include /etc/inputrc

set enable-bracketed-paste on
set show-mode-in-prompt on
set emacs-mode-string
#set editing-mode vi

# use block cursor for cmd (normal) mode and line cursor for insert mode
# Linux VT uses different escape codes
$if term=linux
	set vi-ins-mode-string \1\e[?0c\2
	set vi-cmd-mode-string \1\e[?8c\2
$else
	set vi-ins-mode-string \1\e[6 q\2
	set vi-cmd-mode-string \1\e[2 q\2
$endif
